<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <!-- このif の条件の２つめは自分自身のアカウントの横にdelete を持たせないことを要請している。 -->
  <% if current_user.admin? && !current_user?(user) %>
  |<%= link_to "delete", user, method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>
</li>
