<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
  <!-- この場合、Railsは自動的に_user.html.erbという名前のパーシャルを探しにいく -->
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
